@model IEnumerable<Gamification.UI.Models.LeaderBoader>
<div class = "row">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ECPJX21DQD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ECPJX21DQD');
    </script>
    <!-- Order Statistics -->
    <div class = "col-md-12 col-lg-12 col-xl-12 col-sm-12 order-0 mb-4">
        <div class = "card h-100">
            <div class = "card-header d-flex align-items-center justify-content-between pb-0">
                <div class = "card-title mb-0">
                    <h5 class="m-0 me-2">Total Players: @Model.Count()</h5>
                    <small class = "text-muted"></small>
                </div>
                @*<div class="dropdown">
                <button class="btn p-0"
                type="button"
                id="orederStatistics"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <i class="bx bx-dots-vertical-rounded"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                <a class="dropdown-item" href="javascript:void(0);">Share</a>
                </div>
                </div>*@
            </div>
            <div class = "card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="row">

                        <div class="col-md-4">
                            <a asp-controller="Home" asp-action="LeaderBoard" asp-route-caseStudy="FI" class="menu-link">
                                <div data-i18n="Basic" id="FI">FI - Accounts Payable</div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a asp-controller="Home" asp-action="LeaderBoard" asp-route-caseStudy="FI_AR" class="menu-link">
                                <div data-i18n="Basic" id="FI_AR">FI - Accounts Receivable</div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a asp-controller="Home" asp-action="LeaderBoard" asp-route-caseStudy="MM" class="menu-link">
                                <div data-i18n="Basic" id="MM">Materials Management</div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a asp-controller="Home" asp-action="LeaderBoard" asp-route-caseStudy="SD" class="menu-link">
                                <div data-i18n="Basic" id="SD">Sales and Distribution</div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a asp-controller="Home" asp-action="LeaderBoard" asp-route-caseStudy="PP" class="menu-link">
                                <div data-i18n="Basic" id="PP">Production Planning</div>
                            </a>
                        </div>


                        @*<div id = "orderStatisticsChart"></div>*@
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
            <strong>Leaderboard: @ViewBag.Header</strong>
        </div>
    </div>
    
</div>
@if (Model.Count() == 0 || Model == null)
{
    <div class = "row">
        <div class = "alert alert-primary alert-dismissible" role = "alert">
            Nothing found yet!
            <button type = "button" class = "btn-close" data-bs-dismiss = "alert" aria-label = "Close"></button>
        </div>
    </div>
}
else
{
    foreach (var data in Model)
    {
        <div class = "row">
            <div class = "col-md-12 col-lg-12 col-xl-12 col-sm-12">
                <div class = "card mt-3">
                    <div class = "card-body">
                        <ul class = "p-0 m-0">
                            <li class = "d-flex mb-1 pb-1">
                                <div class = "avatar flex-shrink-0 me-3">
                                    <span class = "badge bg-label-info p-2">
                                        <i class = "bx bx-medal text-primary bx-sm"></i>
                                    </span>
                                </div>
                                <div class = "d-flex w-100 flex-wrap align-items-center justify-content-between gap-5">
                                    <div class = "me-2">
                                        <h6 class = "mb-0">@data.Username</h6>
                                        @*<small class = "text-muted">The Best Professor of our time</small>*@
                                    </div>
                                    <div class = "user-progress">
                                        <small class = "fw-semibold">
                                            <span class = "badge rounded-pill bg-primary">@data.Point</span>
                                        </small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--/ Order Statistics -->
            </div>
        </div>
    }
  
}


@*<div class = "row">
    <div class = "col-md-12 col-lg-12 col-xl-12 col-sm-12">
        <div class = "card mt-3">
            <div class = "card-body">
                <ul class = "p-0 m-0">
                    <li class = "d-flex mb-1 pb-1">
                        <div class = "avatar flex-shrink-0 me-3">
                            <span class = "badge bg-label-info p-2">
                                <i class = "bx bx-medal text-primary bx-sm"></i>
                            </span>
                        </div>
                        <div class = "d-flex w-100 flex-wrap align-items-center justify-content-between gap-5">
                            <div class = "me-2">
                                <h6 class = "mb-0">Prof Ernest</h6>
                                <small class = "text-muted">Software Engineer</small>
                            </div>
                            <div class = "user-progress">
                                <small class = "fw-semibold">
                                    <span class = "badge rounded-pill bg-warning">81.5k</span>
                                </small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--/ Order Statistics -->
    </div>
</div>

<div class = "row">
    <div class = "col-md-12 col-lg-12 col-xl-12 col-sm-12">
        <div class = "card mt-3">
            <div class = "card-body">
                <ul class = "p-0 m-0">
                    <li class = "d-flex mb-1 pb-1">
                        <div class = "avatar flex-shrink-0 me-3">
                            <span class = "badge bg-label-info p-2">
                                <i class = "bx bx-medal text-primary bx-sm"></i>
                            </span>
                        </div>
                        <div class = "d-flex w-100 flex-wrap align-items-center justify-content-between gap-5">
                            <div class = "me-2">
                                <h6 class = "mb-0">Anonymous</h6>
                                <small class = "text-muted">Mobile, Earbuds, TV</small>
                            </div>
                            <div class = "user-progress">
                                <small class = "fw-semibold">
                                    <span class = "badge rounded-pill bg-danger">72.5k</span>
                                </small>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!--/ Order Statistics -->
    </div>
</div>*@

@section scripts{
    <partial name = "_ValidationScriptsPartial"/>
    <script type = "text/javascript">
        $(document).ready(function() {
            var badges = localStorage.getItem("badges");
            var crown = localStorage.getItem("crown");
            var point = localStorage.getItem("point");

            $('#badges').text(badges);
            $('#crown').text(crown);
            $('#point').text(point);


        });


    </script>
}